body { 
    background: #5a1b1b
}

.todo-item{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 40px;
    margin: auto;
    padding: 20px;
    border-bottom: solid 1px rgb(0, 0, 0)  
}

.todo-list{
    width: 50%;
    background: rgb(227, 245, 252);
    margin: auto;
    border: solid 5px rgb(0, 0, 0) 
}

p{
    margin: 2%;
    color: #7c1616;
}
input{
    margin: 4%
}